*~
.*.sw[po]
*.dat
*.pyc
*.pyo
build
*.prof
siteconf.py
doc/hedge-notes.pdf
*.vtk
*.silo
*.session
dump.py
*.orig
Makefile
tags
dist
MANIFEST
*.egg-info
*.pyd
*.so
setuptools*egg
setuptools.pth
distribute-*.tar.gz
distribute-*.egg
*.vtu
*.vts
.eggs
