include LICENSE

include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt

include examples/*py

include doc/*.rst
include doc/conf.py
include doc/Makefile
include doc/_static/*.css
include doc/_templates/*.html
